.stat-container {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 0px;
  background-color: #ffffff;
  color: #000000;
  font-family: Verdana, sans-serif;
  gap: 20px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: 0px;
  margin-bottom: 20px;
}
