.root {
  padding: 4rem 0rem;
  max-width: 100%;
  text-align: start;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: transparent;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0em;
  width: 400px;
}
.label {
  font-size: 1rem;
  font-weight: 400;
}
.input {
  padding: 0px;
  font-size: 1rem;
  margin: 0em 0em 1.5em;
  border-left: 0px solid black;
  border-bottom: 2px solid black;
  border-right: 0px solid black;
  border-top: 0px solid black;
}
.submit {
  padding-top: 0.5em;
  color: #ffffff;
  font-weight: 600;
}

.form-title {
  font-size: 3rem;
  text-align: start;
  padding-top: 0rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}
.form-animation {
  max-width: 24rem;
}
.animation-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: transparent;
  flex-direction: column;
}
.form-subtitle {
}
.form-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-items: start;
  padding: 0rem 0px 0px 6rem;
}