.root {
}

.logo {
  font-size: 1em;
  color: black;
  font-weight: 700;
  &:hover {
    color: #a9e95d;
  }
}
.links {
  list-style-type: none;
  display: flex;
  gap: 3em;
  padding: 10px;
  color: #000000;
  &:hover {
    color: #a9e95d;
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0%;
  padding: 2rem 0rem;
  background-color: #ffffff;
  position: sticky;
  top: 0px;
  z-index: 50;
}

@media screen and (max-width: 720px) {
  .nav {
    flex-direction: column;
    gap: 1rem;
  }
}
.link-special {
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 0px;
}
